@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'galmuri9';
  src: url('/fonts/Galmuri9.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --foreground: #171717;
  --background: #ededed;
}

.dark {
  --foreground: #ededed;
  --background: #1B1E2B;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    @apply font-galmuri9 antialiased;
  }

  code {
    @apply font-galmuri9 bg-gray-300 px-2 py-1 rounded font-semibold text-gray-700;
  }

  h1 {
    @apply text-2xl font-bold leading-10;
  }

  button img{
    @apply transition-all duration-300 ease-in-out;
  }
  
  button:hover img{
    @apply scale-125;
  }

  Image{
    @apply dark:invert;
  }
}

@layer components {
  #tab_id {
    @apply mr-2.5 p-2 text-lg border-b-2 border-b-gray-300 transition-all duration-300 ease-in-out;
  }

  #tab_id:hover {
    @apply cursor-pointer text-gray-400 border-b-[#accdff];
  }
}