@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "galmuri9";
    src: url("/fonts/Galmuri9.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --foreground: #171717;
    --background: #ededed;
}

.dark {
    --foreground: #ededed;
    --background: #1b1e2b;
}

body {
    color: var(--foreground);
    background: var(--background);
}

li{
    list-style: none;
}

@layer base {
    html {
        @apply font-galmuri9 antialiased;
    }

    code {
        @apply font-galmuri9 bg-gray-300 px-2 py-1 rounded font-semibold text-gray-700;
    }

    li {
        @apply cursor-pointer;
    }

    h1 {
        @apply text-2xl font-bold leading-10;
    }

    button i {
        @apply transition-all duration-300 ease-in-out;
    }

    button:hover i {
        @apply text-gray-500;
    }
}

@layer components {
    #tab_id {
        @apply mr-2.5 p-2 text-lg border-b-2 border-b-gray-300 transition-all duration-300 ease-in-out;
    }

    #tab_id:hover {
        @apply cursor-pointer text-gray-400 border-b-[#accdff];
    }
}

.main-container {
    @apply h-full overflow-y-auto p-4;
}

.category-list {
    @apply flex flex-row justify-start gap-2 overflow-x-scroll;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item{
    @apply cursor-pointer transition duration-300 ease-in-out;
}
.category-item:hover{
    @apply bg-gray-500 text-white;
}

/* 부모의 1/4, 1/2 크기: 화면 크기에 따라 자식 요소의 크기를 1/4 (가장 큰 화면)에서 1/2 (중간 화면 크기)로 설정. */
.postcard{
    @apply aspect-video bg-[--background] shadow-md rounded-lg border-4 border-gray-600 transition duration-300 ease-in-out hover:bg-gray-100 hover:border-gray-500;
}

.title-ellipsis{
    @apply text-ellipsis overflow-hidden whitespace-nowrap;
}